img[alt=logo] {
    width: 27%;
}

main {
    background-attachment: fixed;
    background-image: url(/images/R.jpg);
    height: 125vh;
}

img[alt=medi] {
    width: 90%;
}

#chevron svg {
    position: relative;
    bottom: .5em;
}