*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


main{
    background-image: url(/images/R.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.bg-warning {
    position: relative;
    bottom: 10px;
}